* {
    margin: 0;
    padding: 0;
    list-style:none;
}
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
html,body {
font-family: 'noto sans kr', 'dotum', sans-serif;
}
a {text-decoration:none!important; cursor:pointer;}
.topBan{position:relative; text-align:center; width:100%; height:90px; background: url("../images/topBan.jpg") top left -1px no-repeat;}
.topBanCBtn{cursor:pointer; position:relative; left:597px; top:20px;}
.header {position:relative; margin: 0 auto; width:1300px; height:130px;}
.header h1 {float:left; margin:21px 0 0 41px;}
.hleftArea {position:relative; float:left; width:850px; height:130px;}
.bdrUnifiedSearch {box-shadow:1px 3px 20px rgba(152,93,233,0.15); float:left; margin:18px 0 0 44px; padding:2px; border-radius:30px; background:linear-gradient(to right, #9b60f1, #9cabfb); height:36px; z-index:-2;}
.bdrUnifiedSearch::after {position:absolute; top:0px; left:156px; box-shadow:1px 3px 20px rgba(152,93,233,0.15); float:left; margin:18px 0 0 44px; padding:2px; content:''; transition:all 0.5s ease-out; opacity:0; border-radius:30px; width:0px;background:linear-gradient(to right, #bcbdf1, #9fa9fb, #9b60f1); height:36px; z-index:-2;}
.unifiedSearch {position:relative; float:left; font-size: 14px; line-height:1.42857143; border-radius:30px; background-color:#ffffff; height:36px; z-index:3;}
.searchtitle {float:left; color: #000000; font-weight:350; position:relative; top:8px; left:25px; width:100px; vertical-align:middle;}
.srhInpSpan {float:left; position:relative; top:2px; width:266px;}
.srhInpSpanClkd {float:left; position:relative; top:2px; width:516px; transition:all 0.6s; transition-timing-function: ease-in;}
.searchInput {font-weight:500; border: 0; position:relative; top:10px; width:230px; outline:none; z-index:2;}
.afterSearchInput {margin-top:-1px; border: 0; font-weight:500; font-size:14px; position:relative; top:10px; width:492px; outline:none;}
.searchInput::placeholder {font-family:noto sans kr; font-size:14.5px; letter-spacing:-0.2px; font-weight:300; color: #888888; border: 0; width:230px; outline:none; z-index:2;}
.searchInput:focus::placeholder {font-family:noto sans kr; font-size:14.5px; color: #9b60f1; font-weight:600; width:230px; outline:none; z-index:2;}
.afterSearchInput::placeholder {font-family:noto sans kr; font-size:14.5px; letter-spacing:-0.2px; font-weight:300; color: #888888; border: 0; width:230px; outline:none; z-index:2;}
.afterSearchInput:focus::placeholder {font-family:noto sans kr; font-size:14.5px; color: #9b60f1; font-weight:600; width:230px; outline:none; z-index:2;}
.searchBtn {float:left; position:relative; float:right; top:3px; right:3px; z-index:3;}
.unifiedSearch:after {display:block; clear:both; height:0px; content:"";}


.hrightArea {float:right;padding-top:17px; position:relative; top:0px; right:20px; width:222px;}
.joinMembersBtn{background: url("../images/joinMembersBtn.jpg") top left no-repeat; background-color:red; display:inline-block; width:52px; height:47px;}
.joinMembersBtn:hover {background: url("../images/joinMembersBtnHover.jpg") top left no-repeat; display:inline-block;}
.loginBtn {margin-left:23px; background: url("../images/loginBtn.jpg") top left no-repeat; display:inline-block; width:39px; height:47px;}
.loginBtn:hover {margin-left:23px; background: url("../images/loginBtnHover.jpg") top left no-repeat; display:inline-block;}
.cpyServcBtn {margin-left:23px; background: url("../images/cpyServcBtn.jpg") top left no-repeat; background-color:red; display:inline-block; width:65px; height:47px;}
.cpyServcBtn:hover {margin-left:23px; background: url("../images/cpyServcBtnHover.jpg") top left no-repeat; display:inline-block;}
.cpyServcBtn:after {display:block; clear:both; height:0px; content:"";}

.hBottomArea{float:left; position:relative; width:1300px; z-index:2;}

.hleftBottomArea {float:left; position:relative; top:8px; width:660px; height:64px;}
.openNavBtn {position:relative; float:left; left:32px; top:9px; width:48px; height:48px; cursor:pointer;}
.besideMenuText {position:relative; left:43px; bottom:0px; display:inline-block;}
.besideMenuText a {text-decoration: none; position:relative; top:19px; padding:20px 18px 21px 21px; color:#000000;}
.besideMenuText a:hover {color:#9b5ef0; }
.infoHover:hover a {position:realtive; color: rgba(0, 0, 0, 0); background: url("../images/janetInfoHover.jpg") top left 5px no-repeat;}
.talkHover:hover a {position:realtive; margin:0 3px 1px 0; color: rgba(0, 0, 0, 0); background: url("../images/janetTalkHover.jpg") top left 8px no-repeat; width:83px; height:50px;}

.hrightBottomArea {float:right; top:7px; right:15px; position:relative; width:325px; height:64px;}
.ourNeighborhoodBtn {margin:0 0 0 9px; background: url("../images/ourNeighborhoodBtn.jpg") top -1px left no-repeat; display:inline-block; width:115px; height:63px;}
.cmmtyBtn {margin:0 0 0 9px; background: url("../images/cmmtyBtn.jpg") top -1px left no-repeat; display:inline-block; width:85px; height:63px;}
.licenseBtn {margin:0 0 0 9px; background: url("../images/licenseBtn.jpg") top -1px left no-repeat; display:inline-block; width:85px; height:63px;}
.licenseBtn:hover {margin:0 0 0 9px; background: url("../images/licenseHoverBtn.jpg") top -1px left no-repeat; display:inline-block; width:85px; height:63px;}

.headerBottomLine {position:relative; clear:both; width:100%; box-sizing:border-box; border-bottom:1px solid #dfdfdf; height:1px; z-index:3;}
.menu {display:none; position:absolute; background-color:#ffffff;  box-sizing:border-box; border-bottom:#dfdfdf solid 1px; width:100%; height:400px; z-index:1;}
.menu>.realMenu {margin:0 auto; width:1250px; height:400px; box-sizing:border-box;}
.realMenu>ul {margin-left:6px; font-family:'malgun gothic', 'dotum', sans-serif; font-size:14px; border-left:1px solid #efefef; border-top:0px; border-bottom:0px; width:100%; height:400px;}
.realMenu>ul>li>span {font-weight:700; color:#626262;}

.realMenu>ul>li {margin-left:20px; float:left; border-right:1px solid #efefef; height:40x; width:187px;}
.realMenu:last-child {border-right:none;}
.realMenu>ul>li>span {margin:31px 0 0 9px; display:inline-block;}
.realMenu>ul>li>ul {margin:10px 0 0 9px; font-size:13px; display:inline-block;}
.realMenu>ul>li>ul>li {line-height:31px;}
.realMenu>ul>li>ul>li>a {text-decoration: none; color:#4a4a4a;}
.realMenu>ul>li>ul>li>a:hover,.realMenu>ul>li>span:hover{color:#9b5ef0; cursor:pointer;}
.realMenu>ul>li:nth-child(4)>ul>li:nth-child(n+6) {position:relative; top:4px; line-height:30px;}
.titleBold {margin-top:10px; font-size:14px; display:inline-block; color:#000000;}



.hFixedArea{display:none; position:fixed; top:0; background-color:#ffffff; border-bottom:1px solid #dfdfdf; width:100%; height:85px; z-index:4;}
.hInnerFixedArea{position:relative; margin:0 auto; width:1300px;}
.hInnerFixedArea>a>h1>img{position:relative; top:30px; left:31px; z-index:99;}
.hLFixedArea{float:left; position:relative; left:56px; bottom:19px;}
.hRFixedArea{position:relative; float:right; right:23px; bottom:2px;}
.besideMenuText2 a {position:relative; left:48px; bottom:23px; padding:20px 12px 21px 12px; color:#000000;}



.contents {height:479px; background:linear-gradient(to right, #ebf1fe, #eee3fa);}
.innerContents {margin:0 auto; padding:54px 0 0 63px; width:1300px;}
#imageSlider1 {float:left; box-shadow:1px 3px 20px rgba(152,93,233,0.15); z-index:0;width:420px; height:370px; overflow:hidden;}
#imageSlider2 {float:left; box-shadow:1px 3px 20px rgba(152,93,233,0.15); z-index:0;width:1202px; height:800px; overflow:hidden;}
.mainBannerTLmold{overflow:hidden; margin-left:10px; float:left; position:relative; width:550px; height:370px; background-color:#ffffff; box-shadow:1px 3px 20px rgba(152,93,233,0.15);}
.mainBannerTopLeft {padding-left:13px; overflow:hidden; position:relative; width:478px; top:35px; left:31px; height:376px;float:left; }
.mainBannerBtn {position:absolute; right:2px; top:5px; z-index:2;}
.tabmenu>div {position:absolute; width:478px; left:478px; opacity:0; transition:all 0.5s ease-out; z-index:0;}
div.ban1 {opacity:1; left:0px;}
div.ban3 {opacity:0; left:-478px;}
#ban1>ul {margin-left:13px;}
#ban1>ul>li {position:relative; width:200px; display:inline-block;}
#ban1>ul>li:nth-child(-n+2) {top:27px; left:15px;}
#ban1>ul>li:nth-child(2) {left:40px; top:28px;}
#ban2>ul {margin:20px;}
#ban2>ul>li {position:relative; display:inline-block;}
#ban2>ul>li {line-height:104%; margin-left:-14px; width:200px;}
.ban21Order {position:relative; bottom:4px; color:#bababa; font-family:'malgun gothic','gulim', sans-serif; font-size:13.2px; font-weight:bold;}
#ban2>ul>li:first-child {margin-top:3px;}
.ban2a {letter-spacing:0.31pt; display:inline-block; width:150px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; margin:5px 0 0 11px; color:#333333; font-size:10pt; font-weight:300;}
.ban2a:hover{text-decoration: underline!important;}
/* .tabmenu>div>ul {display:inline;} */
.ban1Block {display:block; margin:1 0 -1 13px; font-size:16.5px; font-weight:500;}
.ban1Block2 {display:block; position:relative; margin-top:14px;}
.tabmenuConTit{position:relative; left:27px; font-size:14.4px; color:#000000; vertical-align:top;}
.tabmenuCon {position:absolute; line-height:140%; left:101px; top:26px; font-size:12px; color:#626262; vertical-align:top;width:70px;}
.tabmenuCon3-1 {position:absolute; line-height:140%; left:100px; top:26px; font-size:12px; color:#626262; vertical-align:top;width:80px;}
.tabmenuConTit2{position:relative; left:29px; font-size:14.4px; color:#000000; vertical-align:top;}
.tabmenuConTit2-2 {position:relative; line-height:20px; display:inline-block; left:26px; font-size:14.4px; color:#000000; vertical-align:top; width:70px;}
.tabmenuCon2 {position:absolute; line-height:140%; left:102px; top:26px; font-size:12px; color:#626262; vertical-align:top;width:80px;}
.tabmenuCon2-2 {position:absolute; line-height:140%; left:100px; top:45px; font-size:12px; color:#626262; vertical-align:top;width:80px;}
.mainBannerBottom {position:relative; top:252px; left:9px;}

.mainBannerTRmold{float:left;position:relative; margin-left:10px; width:260px; height:370px; background-color:#ffffff; overflow:hidden; box-shadow:1px 3px 20px rgba(152,93,233,0.15);}
.mainBannerTRmold:after{clear:both;}
.mainBannerTopRight{overflow:hidden; height:376px; position:relative; left:30px; width:200px;}
.ban2Block {display:block; margin:1 0 -1 15px; font-size:16.5px; font-weight:500;}
div.ban21 {opacity:1; left:0px; top:35px; width:200px; z-index:1;}
div.ban22 {opacity:0; left:44px; top:35px; width:200px;}
div.ban23 {opacity:0; left:-44px; top:35px; width:200px;}
.mainBannerBtn2 {position:absolute; right:0px; top:40px; z-index:2;}
.mainMiddleBanHeight {float:left; position:relative; width:1250px; height:89px;}
.mainMiddleBnn {float:left; position:relative; width:1250px; height:80px;}
.mainMiddleBnnInner {overflow:hidden; position:absolute; margin-left:24px;  width:1198px; height:80px;z-index:0;}
.bann3 {display:inline-block; position:relative; left:0; transition:all 0.5s ease-out; width:100%; z-index:1;}
.bann3>span {display:inline-block; width:386px; height:80px; cursor:pointer;}
.bann3>span:nth-child(n+2) {margin-left:16px;}
.tabBtnPrv3 {margin-top:19px; float:left; width:27px; height:44px;}
.tabBtnNxt3 {position:relative; margin-top:19px; float:right; width:27px; height:44px; z-index:3;}

.bottom {margin-top:30px; position:relative; float:left; width:1198px;}
.bottomtitle { width:1198px; margin-top:5px;}
.hot {position:relative; letter-spacing:-1.5px; left:10px; top:-9px; font-size:20.9pt; font-weight:700; color:#8e4dea; }
.keyword {position:relative; letter-spacing:-1.2px; left:7px; top:-9px; font-size:20.9pt; font-weight:600; color:#333333;}
.top20 {position:relative; letter-spacing:-1.2px; left:7px; top:-9px; font-size:20.9pt; font-weight:400; color:#333333;}

.bottomContents {margin-bottom:16px; float:left; position:relative; width:1264px; height:190px;}
.bottomContents2 {margin-bottom:36px; float:left; position:relative; width:1264px; height:190px;}
.bottomBnnr {float:left; margin:11px 16px 0 0; overflow:hidden; position:relative; border-radius:10px; box-sizing:border-box; border:1px solid #e5e5e5; width:300px; height:190px; cursor:pointer; }
.bottomBnnrBackgrd1 {z-index:10; background-color:#e9b107;}
.bottomBnnrBackgrd2 {z-index:10; background-color:#4b3962;}
.bottomBnnrBackgrd3 {z-index:10; background-color:#e16045;}
.bottomBnnrBackgrd4 {z-index:10; background-color:#474756;}
.bottomBnnrBackgrd5 {z-index:0; background-color:#305a7e;}
.bottomBnnrBackgrd6 {z-index:0; background-color:#b13c2f;}
.bottomBnnrBackgrd7 {z-index:0; background-color:#383f4e;}
.bottomBnnrBackgrd8 {z-index:0; background-color:#cd9308;}
.bottomBnnr:hover{float:left; overflow:hidden; position:relative; background:linear-gradient(to right, white, white), linear-gradient(135deg, #add0ff, #bc8ff0); background-clip: padding-box, border-box; background-origin: padding-box, border-box; border:2px solid transparent; width:300px; height:395px; cursor:pointer; }
.dday {position:absolute; top:20; right:18;font-family:"malgun gothic, gulim, san-serif"; font-size:9pt; color:#ffffff; text-align:center; font-weight:1000; background-color:#8e4dea; width:44px; height:19px; border-radius:10px; z-index:4;}
.ddayAlign {position:absolute; top:1; left:1; width:100%;}
.bottomBnnrImg {position:absolute; opacity:0.2; width:298px; height:120px; z-index:3;}
.bottomBnnr:hover .bottomBnnrImg {opacity:0.9; margin:-1px 0 0 -1px;}
.bottomBnnr:hover .bottomBnnrTitBackgrd{margin:-1px 0 0 -1px;}
.bottomBnnr:hover .bottomBnnrTitle {margin:-1px 0 0 -1px;}
.bottomBnnr:hover .dday {margin:-1px -1px 0 0;}
.bottomBnnrTitBackgrd {position:absolute; top:60; width:298px; height:60px; background:linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 100%); z-index:4;}
.bottomBnnrTitle {display:inline; font-family:'malgun gothic', 'gulim'; left:30;color:#ffffff; font-size:15pt; font-weight:500; position:absolute; top:60;line-height:60px; z-index:4;}
.bottomBnnrTitleVar {font-weight:bold;}
.bottomBnnrWhiteSpace {position:absolute; left:0; top:120;background-color:#ffffff; width:100%; height:290px; z-index:0;}
.colon {margin:0 5px; position:relative; bottom:1;}
.colon2 {margin:0 5px 0 0; position:relative; bottom:1;}
.title {position:absolute; top:136; left:30; font-size:10.6pt; color:#6e6e6e;}
.bottomBnnr:hover .title {top:135; left:29;}
.esRegdt {position:absolute; font-family:'malgun gothic', 'gulim'; font-weight:300; top:160; left:30; font-size:9.2pt; color:#f2585b;}
.bottomBnnr:hover .esRegdt {top:159; left:29;}
.esRegdtVar {display:inline-block; font-family:'malgun gothic', 'gulim'; bottom:0; margin-left:2px; position:absolute; font-size:9.4pt; color:#f0585b; width:100px;}
.line {display:none; position:absolute; top:196px; left:31px; background-color:#e5e5e5; width:238px; height:1px; z-index:1;}
.bottomBnnr:hover .line {display:block; z-index:9;}
.type {position:absolute; font-size:11pt; font-weight:300; top:226; left:29px;}
.typeTit {font-size:11pt; font-weight:500;}
.receptionPeriod {display:none; font-size:11pt; font-weight:300;position:absolute; font-size:11pt; font-weight:300; top:248; left:29px;}
.receptionPeriodVarTit {font-weight:500;}
.bottomBnnr:hover .receptionPeriod {display:block; z-index:9;}
.plus {position:absolute; top:351; right:0; background-color:#bb92ec; width:40px; height:40px; border-top-left-radius:10px;}
.plus>img {position:relative; left:13; top:13;}